name: ThesisForge CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build-test:
    runs-on: ${{ matrix.os }}
    strategy:
    matrix:
    os: [ubuntu-latest, windows-latest]
    python-version: ["3.10", "3.11"]


    steps:
      # Checkout repo
      - uses: actions/checkout@v3

      # Setup Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      # Ubuntu system dependencies
      - name: Install system dependencies (Ubuntu only)
        if: runner.os == 'Linux'
        run: |
         sudo apt-get update
         sudo apt-get install -y libffi-dev libcairo2 poppler-utils libfreetype6 libpng-dev pkg-config


      # Upgrade pip and build tools
      - name: Upgrade pip and setuptools
        run: |
          python -m pip install --upgrade pip setuptools wheel

      # Install Python dependencies
      - name: Install Python dependencies
        run: |
          pip install -r requirements.txt
          pip install -r requirements_dev.txt
          pip install tox tox-gh-actions

      # Linting with flake8
      - name: Lint with flake8
        run: |
          flake8 src --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 src --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      # Type check with mypy
      - name: Type check with mypy
        run: mypy src

      # Run tests wi
